body {
    font-family: 'Lato', sans-serif;
}
h1{
    margin-bottom: 40px;
}
label {
    color: #333;
}
.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
}

.block-center {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.main_user_data {
    display: flex;
    flex-direction: row;
    margin: 15px 0 15px 0;
    padding: 15px 0 15px 0;
    border-bottom: 1px dashed #cccccc;
}

.mud_block_d {
    margin-left: 15px;
}